//for Colors
$primary-color: #1b4687;
$secondary-color: #6c757d;
$success-color: #198754;
$error-color: #dc3545;
$bg-light: #dfe6e9;

//for Font sizes
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;

// for Spacing
$spacing-sm: 0.5rem;
$spacing-md: 0.5rem;
$spacing-lg: 2rem;
